
<h1>New book</h1>
<%= form_with model: @book, url:'/books', local:true do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Opinion</h4>
  <%= f.text_area :body %>
  <%= f.submit ' Create Book ' %>
<% end %>

<h1>Book detail</h1>
<div class="book-body">
<div>
  <p>投稿ユーザー画像：<%= image_tag('sample-author1.jpg') %></p>
  <p>ユーザーname</p>
  <%= link_to book_path(@bookshow.id) do %>
  <p><%= @bookshow.title %></p>
  <% end %>
  <p><%= @bookshow.body %></p>
  <% if @bookshow.user == current_user %>
    <%= link_to "削除", book_path(@bookshow), method: :delete %>
  <% end %>
</div>
</div>